.container {
  width: 700px;
  margin: 0 auto;
}

header {
  height: 80px;
  padding: 1px;
  box-sizing: border-box;
  line-height: 20px;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  background-color: lightgray;
  color: black;
}

nav {
  float: left;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: gray;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li {
  float: left;
}

.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: darkgrey;
}

main {
  height: 75%;
  width: 100%;
  padding: 100px;
  box-sizing: border-box;
  background-color: lightgoldenrodyellow;
}

footer {
  height: 40px;
  width: 100%;
  bottom: 0;
  left: 0;
  line-height: 10px;
  text-align: center;
  padding: 1px;
  box-sizing: border-box;
  background-color: lightgray;
  color: black;
}
tbody > tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.1);
}
